// Styling for the card containers
.card {
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;

    &--purple {
        background-color: var(--purple);
        background-image: url(images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: top right 2rem;
    }

    &--light-blue {
        background-color: var(--light-blue);
    }

    &--white {
        background-color: var(--white);
    }

    &--dark-blue {
        background-color: var(--dark-blue);
    }
}