@use "sass:math";

// font family
$font-fam: 'Barlow Semi Condensed', sans-serif;

// Font sizes
$font-large: (math.div(20, 16)) + rem;
$font-medium: (math.div(13, 16)) + rem;
$font-small: (math.div(11, 16)) + rem;

:root {
    // Opacity for review text
    --opacity50: 50%;
    --opacity70: 70%;
}